<ul class="menu">
    <li><a href=""><span>我的文件</span></a></li>
    <li class="sep"></li>
    <li><a href=""><span>账户中心</span></a></li>
    <li><a href=""><span>个人主页</span></a></li>
    <li><a href=""><span>入门教程</span></a></li>
    <li class="sep"></li>
    <li id="updatelog-btn"><a href=""><span>退出登录</span></a></li>
</ul>