/*web-template base style sheet*/


/*全局*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #383838;
    overflow: hidden;
}

input:focus {
    border-color: #4386f5 !important;
    outline: 0;
}

button:focus {
    outline: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none !important;
}

#spinner {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background-image: url(/img/spinner.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ccc;
}

.hide {
    display: none;
}


/*登录相关*/

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-top: -181px;
    margin-left: -200px;
}

.login #logo {
    display: inline-block;
    margin-left: 8px;
    font-size: 35px;
    vertical-align: 7px;
    font-family: arial;
    height: 60px;
    text-shadow: 1px 1px 2px #bbb inset;
}

.login form div {
    position: relative;
}

.login input {
    margin-top: 25px;
    width: 90%;
    height: 3.6em;
    padding: 4px 20px;
    border: solid 1px #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}


.login .error-tip {
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 32px;
    color: red;
    bottom: 6px;
    font-size: 12px;
    z-index: 2;
    background: #fff;
}

.login button {
    margin-top: 25px;
    background: #4386f5;
    color: #fff;
    padding: 6px 0;
    height: 3.6em;
    border-radius: 10px;
    width: 90%;
    display: inline-block;
    cursor: pointer;
}

.register {
    font-size: 13px;
    margin-top: 19px;
    color: #666;
    text-align: left;
    padding-left: 26px;
}

.forget-pwd {
    font-size: 13px;
    margin-top: 10px;
    color: #666;
    text-align: right;
    padding-right: 26px;
}

.register a,
.forget-pwd a {
    text-decoration: none;
    color: #333;
}

.third-party .sep {
    margin: 20px 24px 0px 24px;
    border-top: 1px solid #ddd;
    height: 20px;
    text-align: center;
}

.third-party .sep div {
    margin-top: -9px;
}

.third-party .sep label {
    color: #666;
    display: inline-block;
    padding: 0 10px;
    background: #fff;
}



/*主界面*/

.main {}

.main header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.main #logo {
    margin-left: 60px;
    margin-top: 6px;
    display: inline-block;
    font-size: 35px;
}

.main #header-tool {
    float: right;
    height: 100%;
    width: 400px;
    margin-right: 30px;
}

.main #header-tool div {
    float: right;
    display: inline-block;
    height: 100%;
    width: 60px;
    margin-left: 10px;
    padding-top: 18px;
    text-align: center;
}

.main nav {
    padding: 0 10px;
    top: 60px;
    width: 200px;
    height: calc(100% - 40px);
    float: left;
    position: absolute;
}

.main .content {
    position: absolute;
    width: 100%;
    min-width: 500px;
    height: calc(100% - 40px);
    top: 60px;
    left: 200px;
    overflow: hidden;
}